#Title1 /* Modified style*/
{
	text-align: center;
	color: blue;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 1px;
}

#Title2 /* Modified style*/
{
	text-align: center;
	color: blue;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 1px;
}


#MainImage 
{
	text-align: center;
}

#CubeImage
{
	text-align: center;
}

#RectPrismImage /* Added css integration for the Rectangular Prism Picture*/
{
	text-align: center;
}

#CylinderImage /* Added css integration for the Cylinder Picture*/
{
	text-align: center;
}

#ConeImage /* Added css integration for Cone Picture*/
{
	text-align: center;
}

#SphereImage /* Added css integration for the Sphere Picture*/
{
	text-align: center;
}

#FrontText /* Modified style*/
{
	color: blue;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 1.5px;
	text-align: center;
}
